.bash_history
Desktop/
Documents/
Downloads/
Pictures/
tmp/

# ignore configs at .config/
.config/autostart/
.config/dconf/
.config/ibus/
.config/nvim/plugin/
.config/pulse/
.config/skypeforlinux/
.config/htop/
.config/nordvpn/
.config/brightness/

.cache/
.fehbg
.gitconfig
.local/share
.mozilla/
.pki/
.wget-hsts
.lesshst
.python_history
