[submodule "dmenu"]
	path = dmenu
	url = https://github.com/Aravinthyan/dmenu.git
[submodule "st"]
	path = st
	url = https://github.com/Aravinthyan/st.git
[submodule "networkmanager-dmenu"]
	path = networkmanager-dmenu
	url = https://github.com/Aravinthyan/networkmanager-dmenu
