Desktop/
Documents/
Downloads/
Pictures/
tmp/
STM32Cube/
STM32CubeIDE/
files/
Arduino/

# ignore configs at .config/
.config/autostart/
.config/dconf/
.config/ibus/
.config/nvim/plugin/
.config/pulse/
.config/skypeforlinux/
.config/htop/
.config/nordvpn/
.config/brightness/
.config/connect_to_network/
.config/Element/
.config/Kingsoft/
.config/Museeks/
.config/Trolltech.conf
.config/VeraCrypt/
.config/mimeapps.list
.config/Nextcloud/
.config/gtk-2.0/
.config/vlc/
.config/QtProject.conf
.config/gtk-3.0/
.config/Code/
.config/Microsoft/
.config/freerdp/
.config/openvpn/
.config/teams/
.config/timestamps/
.config/evolution/
.config/godot/
.config/remmina/
.config/user-dirs.dirs
.config/user-dirs.locale

.cache/
.fehbg
.gitconfig
.mozilla/
.pki/
.wget-hsts
.lesshst
.python_history
.java/
.matlab/
.eclipse/
.stm32cubeide/
.stm32cubemx/
.stmcufinder/
.swt/
.bash_history
.vscode/
.arduino15/
.config/menus/
.config/zoomus.conf
.gnome/
.npm/
.oracle_jre_usage/
.zoom/
.ipython/
.jupyter/
.ssh/
.device_bashrc

.local/share
.local/bin/py.test
.local/bin/pytest
.local/lib/
.local/bin/__pycache__/
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.9
.local/bin/iptest
.local/bin/iptest3
.local/bin/ipython
.local/bin/ipython3
.local/bin/jsonschema
.local/bin/jupyter
.local/bin/jupyter-bundlerextension
.local/bin/jupyter-kernel
.local/bin/jupyter-kernelspec
.local/bin/jupyter-migrate
.local/bin/jupyter-nbclassic
.local/bin/jupyter-nbconvert
.local/bin/jupyter-nbextension
.local/bin/jupyter-notebook
.local/bin/jupyter-run
.local/bin/jupyter-server
.local/bin/jupyter-serverextension
.local/bin/jupyter-troubleshoot
.local/bin/jupyter-trust
.local/bin/pybabel
.local/bin/pygmentize
.local/bin/pyjson5
.local/bin/send2trash
.local/bin/wsdump.py
.local/etc/
