Code/
Doxygen.org/
Element (Riot)/
Element/
Museeks/
Nextcloud/
QtProject.conf
QtProject/
Qtrac Ltd./
Riot/
Signal/
Trolltech.conf
Trolltech/
VeraCrypt/
VirtualBox/
autostart/
dconf/
dleyna-server-service.conf
enchant/
eog/
evince/
evolution/
gedit/
gnome-control-center/
goa-1.0/
gscan2pdfrc
gtk-2.0/
gtk-3.0/
htop/
ibus/
libreoffice/
mimeapps.list
nautilus/
nordvpn/
pulse/
ranger/
skypeforlinux/
surf/
syncplay.ini
systemd/
totem/
user-dirs.dirs
user-dirs.locale
vlc/
zoomus.conf
pavucontrol.ini
nvim/plugin/
menus/
