[submodule "dmenu"]
	path = .config/dmenu
	url = https://github.com/Aravinthyan/dmenu.git
[submodule "st"]
	path = .config/st
	url = https://github.com/Aravinthyan/st.git
[submodule "dwm"]
	path = .config/dwm
	url = https://github.com/Aravinthyan/dwm.git
[submodule "slock"]
	path = .config/slock
	url = https://github.com/Aravinthyan/slock
[submodule ".config/dwmblocks"]
	path = .config/dwmblocks
	url = https://github.com/Aravinthyan/dwmblocks.git
